<section id="top">
<div class='container'>
  <div class='row'>
   
    <div class="col-md-4">ジャンル検索</div>
    
    <!--<=link_to'ケーキ', %>-->
    <!--<div class="col-md-5 pt-3 pb-3 bg-light">-->
      <div class="col-md-6 ,text-light ">
        <h2>ようこそ、ながのCAKEへ！</h2>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
     </div>
  </div>
  <div class='row mt-3'>
    <!--<div class="col-11 mb-5 pb-5">-->
      <h3>新着商品</h3>
      <%= render"public/items/index", items: @items  %>
      <%= link_to '全ての商品を見る>>', items_path, class: 'float-right mr-5' %>
    </div>
  </div>

</div>

