<section id="top">
<div class='container'>
  <div class='row'>
    <div class="col-lg-2">
      <%= render"public/items/genre_search", genre: @genre %>
    </div>
    <div class="col-lg-10">
      <%= image_tag 'holecake.jpeg', class: 'main-visual-content', size: '700x360' %>
      <!--<div class="col-md-6 ,text-light ">-->
      <p class="main-visual-text">ようこそ、<strong>ながのCAKE</strong>へ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。</p>

    <!--<div class="col-12 mb-5 pb-5">-->
      <h4>新着商品</h4>
      <%= render"public/items/index", items: @items %>
      
      <div align="right">
        <%= link_to '全ての商品を見る>>', items_path %>
      </div>
    </div>
  </div>
</div>

