/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@font-face {
    font-family: 'Senobi-Gothic-Medium';
    src: font-url('/assets/Senobi-Gothic-Medium.ttf');
}

@font-face {
    font-family: 'ume-tgs5';
    src: font-url('/assets/ume-tgs5.ttf');
}

@font-face {
    font-family: 'Honoka-Shin-Antique-Kaku_M';
    src: font-url('/assets/Honoka-Shin-Antique-Kaku_M.otf');
}


body {
    background-image: url('/assets/img_cheese_cake.jpeg') ;
    background-size: contain;
    opacity: 0.9;
    // #f2efed
}

header, footer {
     background: #f58433;
}

.navbar-brand {
    font-family: 'Senobi-Gothic-Medium';
    font-size: 40px;
}

.navbar-nav, .main_container {
    font-family: 'Honoka-Shin-Antique-Kaku_M';
}

.btn {
    opacity: 0.9
}


