<div class="container">
  <div class="row m-5">

    <% items.each do |item| %>
    <div class="col-lg-3, m-3">
       <%= link_to item_path(item.id) do %>
       <%= attachment_image_tag item, :image, :fill, 300, 200, format: 'jpeg',fallback: "no-image-icon.jpg",size: '300x200'%><br>
       <%= item.name %><br>
       <% end %>
     ¥<%= item.add_tax_price.to_s(:delimited) %><br>

    </div>
     <% end %>
  </div>


</div>

