<div class='container'>
  <div class='row mt-3'>
    <div class="col-lg-2">
     <%= render"public/items/genre_search", genre: @genre %>
     </div>
     <div class="col-lg-10">
    <h3><span style="margin-left:50px">商品一覧（全<%= @items.count %>件）</span></h3>
    <%= render"public/items/index", items: @items %>
    </div>
  <div class="mx-auto" style="width: 100px;" "mb-5, pb-5">
      
      <%= paginate @items %>
  </div>
</div>
